@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}